@use '../bases/variables' as vars;
@use '../bases/computer';
@use '../bases/mobile';

html {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  scroll-behavior: smooth;
  font-family: 'San Francisco', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

header {
  z-index: 1;
  position: fixed;
  height: vars.$height-header;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--background-color);
  color: var(--text-color);
  text-align: center;
}

@media screen and (max-width: 1023px) {
  @include mobile.style;
}

@media screen and (min-width: 1024px) {
  @include computer.style;
}

nav {
  position: fixed;
  margin: 0;
  background-color: var(--background-color);

  div a {
    text-decoration: none;
    border-radius: 20px;
    transition: vars.$transition-common;

    &:hover,
    &:focus {
      background-color: var(--primary-color);
      filter: drop-shadow(0 0 7.5px var(--secondary-color));
    }

    &:focus {
      outline: none;
      border: solid 1px var(--text-color);
      border-radius: 20px;
    }

    svg path {
      stroke: var(--text-color);
    }

    svg.fill path {
      fill: var(--text-color);
    }

    .profile-pic,
    .profile-span {
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

main {
  flex-grow: 1;
  position: relative;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 25px;
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    z-index: 0;
    position: absolute;
    border-radius: inherit;
  }

  &::before {
    border-color: var(--background-color);
    z-index: -1;
  }
}

main.common section {
  width: 65%;
  margin: 2em auto;
  padding: 2em;
  border: solid 1px var(--secondary-color);
  border-radius: 25px;
  text-align: center;
}

.profile-img {
  width: vars.$width-profil-img;
  height: vars.$width-profil-img;
  border-radius: 50%;
  margin-right: 10px;
  margin-inline: auto;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: var(--text-color);
  cursor: pointer;
}