@use '../bases/variables' as vars;

.chat-box {
  width: 95%;
  margin: vars.$height-header auto;
  text-align: left;
}

.message {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 15px;

  .profile-pic {
    width: vars.$width-profil-pic;
    height: vars.$width-profil-pic;
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0;
  }

  .message-content {
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
  }

  .header-msg {
    display: flex;
    align-items: center;

    .username {
      font-weight: bold;
      margin-right: 5px;
    }

    .certification {
      display: inline-block;
      width: vars.$width-certification;
      height: vars.$width-certification;
    }
  }

  .content-msg {
    margin: 5px auto;
  }

  .footer-msg {
    text-align: right;

    .date {
      font-size: 0.8rem;
      color: gray;
    }
  }
}

#form {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;

  textarea {
    height: 1.5em;
    resize: none;
    padding: 15px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    backdrop-filter: blur(vars.$blur-common);
    border: none;
    border-radius: 25px;
    font-family: 'San Francisco', sans-serif;
    font-size: 1em;
    transition: vars.$transition-common;

    &:focus {
      outline: none;
      border: solid 1px var(--text-color);
      border-radius: 25px;
    }
  }

  button {
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: vars.$width-send;
    height: vars.$width-send;
    padding: 7.5px;
    cursor: pointer;
    background-color: #ffffff00;
    border: none;
    border-radius: 10px;
    transition: vars.$transition-common;

    &:hover,
    &:focus {
      background-color: var(--secondary-color);
    }

    &:focus {
      outline: none;
      border: solid 1px var(--text-color);
      border-radius: 10px;
    }

    svg {
      width: auto;
      height: auto;
      fill: var(--text-color);
    }
  }
}

.connectedUsers {
  z-index: 1;
  position: fixed;
  top: vars.$height-header;
  height: 1.5em;
  padding: 15px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  backdrop-filter: blur(vars.$blur-common);
  border: none;
  border-radius: 25px;
  transition: vars.$transition-common;

  h3 {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1023px) {
  #form {
    bottom: vars.$height-nav;

    textarea {
      width: calc(vars.$width-main-mobile - 30px);
    }
  }

  .connectedUsers {
    width: calc(vars.$width-main-mobile - 30px);
  }
}

@media screen and (min-width: 1024px) {
  #form {
    bottom: 0;

    textarea {
      width: calc(vars.$width-main - 30px);
    }
  }

  .connectedUsers {
    width: calc(vars.$width-main - 30px);
  }
}