@use '../bases/variables' as *;

button {
  cursor: pointer;
  margin: 0.5em;
  border: solid 1px $background-color;
  border-radius: 25px;
  background-color: $secondary-color;
  padding: 0.75em;
  color: $text-color;

  &:hover,
  &:focus {
    outline: none;
    border: solid 1px $text-color;
  }

  svg path {
    stroke: $text-color;
  }

  svg.fill path {
    fill: $text-color;
  }
}

button.refreshSignin,
button.signin,
button.signup,
button.signout,
button.delete-account {
  padding: 0.75em;
}

button.delete-account {
  background-color: $secondary-color;
  color: #f44336;

  &:hover,
  &:focus {
    background-color: #f44336;
    color: $text-color;
  }
}

.lang-selector {
  position: relative;
  z-index: 1;
}

.language-modal {
  position: fixed;
  z-index: 1000;
  inset: 0;
}

.language-backdrop {
  position: absolute;
  backdrop-filter: blur(5px);
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.language-popup {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  flex-direction: column;
  gap: 0rem;
  transform: translate(-50%, -50%);
  z-index: 1001;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  background: $background-color;
  padding: 2rem;
  text-align: center;
}

.flag-icon {
  vertical-align: middle;
  margin-right: 8px;
  width: 20px;
  height: 15px;
}

.scroll-button {
  display: flex;
  position: fixed;
  right: 20px;
  bottom: 80px;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur($blur-common);
  transition: $transition-common;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  border: solid 1px $background-color;
  border-radius: 50%;
  background-color: $secondary-color;
  width: 50px;
  height: 50px;
  color: $text-color;
  font-size: 20px;
}

.scroll-button:hover,
.scroll-button:focus {
  filter: brightness(1.2);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}
