@use '../bases/variables' as *;

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
  background: $background-color;
  color: $text-color;
  text-align: center;

  :first-child:hover,
  :last-child:hover {
    cursor: pointer;
  }

  :first-child {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 4.5em;
    height: 4.5em;

    img {
      transition: transform 0.3s ease;
      width: 65%;
      height: auto;
    }

    &:hover img {
      transform: scale(1.1);
    }
  }

  :last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $transition-common;
    cursor: pointer;
    margin: 0;
    border: none;
    background-color: transparent;
    color: $text-color;
    font-size: 1.2em;

    svg {
      transition: transform 0.3s ease;
      width: 1.5em;
      height: 1.5em;
    }

    &:hover svg {
      transform: scale(1.1);
    }

    &:hover,
    &:focus {
      border: none;
    }
  }
}
