@use '../bases/variables' as *;
@use './section';

main {
  position: relative;
  flex-grow: 1;
  border-radius: $border-radius-common;
  background-color: $primary-color;
  overflow: auto;
  color: $text-color;
  &::-webkit-scrollbar {
    display: none;
  }

  &::before,
  &::after {
    position: absolute;
    z-index: 0;
    border-radius: inherit;
    content: '';
  }

  &::before {
    z-index: -1;
    border-color: $background-color;
  }

  @include section.style;
}
