@use '../bases/variables' as *;

nav {
  position: fixed;
  margin: 0;
  background-color: $background-color;

  div a {
    border-radius: $border-radius-common;
    text-decoration: none;

    &:hover,
    &:focus {
      filter: drop-shadow(0 0 7.5px $secondary-color);
      background-color: $primary-color;
    }

    &:focus {
      outline: none;
      border: solid 1px $text-color;
    }

    svg path {
      stroke: $text-color;
    }

    svg.fill path {
      fill: $text-color;
    }

    .profile-pic,
    .profile-span {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }
}
