@use '../bases/variables' as *;

.profile-img,
.profile-pic,
.profile-span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.profile-img {
  margin-right: 10px;
  margin-inline: auto;
  width: $profil-img-width;
  height: $profil-img-width;
  font-size: 50px;
}
