@use '../bases/variables' as *;

@mixin style {
  section {
    margin: 2em auto;
    border: solid 1px $secondary-color;
    border-radius: $border-radius-common;
    padding: 2em;
    text-align: center;
  }

  section.chat {
    margin: 0;
    border: none;
  }
}
