@use './variables' as vars;

@mixin style() {
  nav {
    top: 0;
    left: 0;
    height: 100vh;
    width: vars.$width-nav;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    div {
      width: 100%;

      a {
        width: 80%;
        height: 3em;
        padding: 0.5em 1em;
        margin: 0.5em auto;
        display: flex;
        justify-content: left;
        align-items: center;
        transition: vars.$transition-common;

        svg {
          margin-right: 10px;
          width: 1.5em;
          height: 1.5em;
        }

        .profile-pic,
        .profile-span {
          margin-right: 10px;
        }

        .profile-pic {
          margin-left: 0;
          width: 1.5em;
          height: 1.5em;
          font-size: 1.15em;
        }

        .profile-span {
          width: 1.25em;
          height: 1.15em;
          padding: 0.25em;
          font-size: 1em;
        }
      }
    }
  }

  main {
    width: calc(100% - vars.$width-nav);
    margin-top: vars.$height-header;
    margin-left: vars.$width-nav;

    &::before {
      top: vars.$height-header;
      left: vars.$width-nav;
      right: 0;
      bottom: 0;
    }
  }
}