// Variables CSS pour le mode clair et sombre
:root {
  --background-light: #f5f5f5;
  --text-light: #000000;
  --primary-light: #ffffff;
  --secondary-light: #bababa40;

  --background-dark: #000000;
  --text-dark: #ffffff;
  --primary-dark: #1f1f1f;
  --secondary-dark: #b0b0b040;
}

// Par défaut (mode clair)
@media (prefers-color-scheme: light) {
  :root {
    --background-color: var(--background-light);
    --text-color: var(--text-light);
    --primary-color: var(--primary-light);
    --secondary-color: var(--secondary-light);
  }
}

// Mode sombre
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--background-dark);
    --text-color: var(--text-dark);
    --primary-color: var(--primary-dark);
    --secondary-color: var(--secondary-dark);
  }
}

// Variables Sass
$height-header: 80px;
$width-nav: 300px;
$width-main: calc(100vw - #{$width-nav});
$width-certification: 1.5em;
$width-send: 2.5em;
$width-profil-img: 150px;
$width-profil-pic: 40px;
$blur-common: 5px;
$transition-common: all 0.25s ease;