<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../components/head', { title: text['error']['404'][0] }) %>
</head>

<body>
  <%- include('../components/header', { title: text['error']['404'][0] }) %>
    <%- include('../components/nav') %>
      <main class="common 404">
        <section>
          <p>
            <%= text['error']['404'][1] %>
          </p>
        </section>
      </main>
</body>

</html>