<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('../components/head', { title: "Error 404" }) %>
</head>

<body>
  <%- include('../components/header', { title: "Error 404" }) %>
    <main>
      <section>
        <p>Page Not Found</p>
      </section>
      <section>
        <a href="/">Retour à l'accueil</a>
      </section>
    </main>
</body>

</html>