<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('/views/components/head', { title: "Accueil" }) %>
</head>

<body>
  <%- include('/views/components/header', { title: "NSInsta" }) %>
    <main>
      <section>
        <p>Bienvenue sur NSInsta</p>
        <p>Vous pouvez vous connecter ou vous créer un compte</p>
      </section>
      <section>
        <a href="/signin">Se connecter</a>
        <a href="/signup">S'inscrire</a>
      </section>
    </main>
</body>

</html>