<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('/views/components/head', { title: "Profil" }) %>
</head>

<body>
  <%- include('/views/components/header', { title: "Profil" }) %>
    <main>
      <section>
        <p>Votre profil</p>
        <p>
          <%= user.name %>
        </p>
      </section>
    </main>
</body>

</html>