<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('/views/components/head', { title: "Se connecter" }) %>
</head>

<body>
  <%- include('/views/components/header', { title: "Se connecter" }) %>
    <main>
      <p>Connectez vous</p>
      <form action="/signin" method="post">
        <input type="text" name="username" id="username" />
        <input type="password" name="password" id="password" />
        <button type="submit">Se connecter</button>
      </form>
    </main>
</body>

</html>