<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../components/head', { title: text['signin'] }) %>
</head>

<body>
  <%- include('../components/header', { title: text['signin'] }) %>
    <main>
      <section>
        <form action="/signin" method="post">
          <input type="text" name="username" id="username" />
          <input type="password" name="password" id="password" />
          <button type="submit">
            <%= text['signin'] %>
          </button>
        </form>
      </section>
      <%- include('../components/return_welcome') %>
    </main>
</body>

</html>