@use './variables' as *;

@mixin style() {
  header {
    width: $header-width;
    height: $header-height;

    img,
    button {
      width: $header-height;
      height: $header-height;
    }
  }

  nav {
    display: flex;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: $nav-width;
    height: $nav-height;

    div {
      width: 100%;

      a {
        display: flex;
        justify-content: left;
        align-items: center;
        margin: 0.5em auto;
        padding: 0.5em 1em;
        width: 80%;
        height: 3em;

        svg,
        .profile-pic,
        .profile-span {
          margin-right: 15px;
          width: 1.5em;
          height: 1.5em;
        }

        .profile-pic {
          margin-left: 0;
          font-size: 1.15em;
        }

        .profile-span {
          padding: 0.25em;
          width: 1.25em;
          height: 1.1em;
          font-size: 1em;
        }
      }
    }
  }

  main {
    margin-top: $header-height;
    margin-left: $nav-width;
    width: $main-width;
    height: $main-height;

    &::before {
      top: $header-height;
      right: 0;
      bottom: 0;
      left: $nav-width;
    }
  }

  main section {
    width: 65%;
  }

  .chat-box {
    width: 95%;
  }
}
