@use './variables' as *;

@mixin style() {
  header {
    width: $header-width-mobile;
    height: $header-height-mobile;

    button,
    img {
      width: $header-height-mobile;
      height: $header-height-mobile;
    }
  }

  nav {
    display: flex;
    bottom: 0;
    left: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: $nav-width-mobile;
    height: $nav-height-mobile;

    div {
      display: flex;
      flex-grow: 1;
      justify-content: center;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5em auto;
        padding: 0.5em 1em;
        width: 100%;
        height: 3em;

        svg {
          width: 1.75em;
          height: 1.75em;
        }

        .profile-pic {
          width: 1.5em;
          height: 1.5em;
          font-size: 1.25em;
        }

        .profile-span {
          padding: 0.25em;
          width: 1em;
          height: 1em;
          font-size: 1em;
        }

        div {
          display: none;
        }
      }
    }
  }

  main {
    margin-top: $header-height-mobile;
    margin-bottom: $nav-height-mobile;
    width: $main-width-mobile;
    min-height: $main-height-mobile;

    &::before {
      top: $header-height-mobile;
      right: 0;
      bottom: $nav-height-mobile;
      left: 0;
    }

    section {
      width: 70%;
    }
  }

  .chat-box {
    width: 90%;
  }
}
